@page "{StireId:int}"
@model Lab4.Pages.StireModel
@{
}
<p>Titlu @Model.Stire.Titlu</p>
<p>Autor @Model.Stire.Autor</p>
<p>Continut @Model.Stire.Continut</p>
<p>Data @Model.Stire.Data</p>

<p> <a asp-page="/Index">Back to Index</a> </p>