@page
@using Lab4.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach (Stire stire in Model.Stiri)
    {
        <p>@stire.Titlu</p>
        <p>@stire.Lead</p>
        <p>@stire.Categorie.Nume</p>

        <br />
    }
</div>
